@CHARSET "ISO-8859-1";
 /* Bordered form */
form  {
	width:50%;
	padding:6px 6px;
    border: 2px solid #f1f1f1;
    display: block;
    box-sizing: border-box;
    align: center;
    background-color: #336699; 
    color: #000033; 
}

/*	Link Colors	*/
a:link	{color:green; background-color: transparent; text-decoration: none}
a:visited	{color:brown; background-color: transparent; text-decoration: none}
a:hover	{color: red; background-color: transparent; text-decoration: underline}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #197519;
    color: #0000CC;
    padding: 4px 10px;
    margin: 7px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

 /* Extra style for the cancel button (red) */
 .resetbtn {
    width: auto;
    padding: 4px 10px;
    background-color: #f44336;
    color: #ffcc00;
}  

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 14px 0 2px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 15%;
}

/* Add padding to containers */
.container {
    padding: 10px;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
    
    .resetbtn {
        width: auto;
    } 
}